.loadingColumn {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes disc {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.loadingIcon {
  font-size: 4em;
  animation: disc 2s ease-in-out infinite;
}
